<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <title>Rachael Dale Hair and Glam</title>
</head>
<body>
    {% load static %}
    <div class="wrapper">
        <div class="header">
            <h1>Rachael Dale</h1>
            <h3>Hair and Glam</h3>
            <div class="menu_links">
                <a href="/">Home</a>
                <a href="services">Services</a>
                <a href="specials">Specials</a>
                <a href="book_online">Book Online</a>
                <a href="contact">Contact</a>


            </div>
            <div class="socials">
                <a href="https://www.instagram.com/rachaeldalehairandglam/?hl=en"><img src="{% static '/images/ig_logo.png' %}" alt="instagram_logo"></a>
                <a href="https://www.facebook.com/Rachaeldhairandglam/"><img id=fb_logo src="{% static '/images/fb_logo.png' %}" alt="facebook_logo"></a>
            </div>
        </div>
        <div class="main"></div>
    </div>
</body>
</html>